<template>
  <!-- component -->
  <div class="container h-full relative block w-full">
    <div class="container-tabs-countries" v-bind:class="{'fixed-container': view.atTopOfPage === true}">
      <ul class="container-countries flex mb-0 list-none flex-wrap pb-3 pt-1.5 flex-row font-body antialiased mx-auto">
        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center w-auto sm:max-w-80px lg:max-w-200px cursor-pointer"  v-for="(country, index) in countries" :key="index" v-bind:class="{'standard text-gray-300 font-extralight': openTab !== index, 'active font-semibold': openTab === index}">
          <a class="px-1 pb-2 block leading-normal text-base" v-on:click="toggleTabs(index, country)" >
            {{country.name}}
          </a>
        </li>
      </ul>
    </div>
    <div class="container-description-countries relative flex flex-col min-w-0 break-words bg-white w-full mb-6" ref="tabs-countries">
      <div class="py-5 flex-auto">
        <div class="tab-content tab-space">
          <div v-for="(country, index) in countries" :key="index" v-bind:class="{'hidden': openTab !== index, 'block': openTab === index}">
            <div class="container-description w-full mt-3 lg:mt-8 font-body">
              <div class="container-logo-country">
                <div class="logo-country"><nuxt-img :src="country.logo" width="50" /></div>
                <div class="see-all-travel-country hidden lg:block cursor-pointer font-semibold">Vedi tutti i viaggi in {{country.name}} <span class="font-extrabold">></span></div>
              </div>
              <div class="description-country">
                <span v-bind:class="{'close': isCloseDescription}" ref="close">{{country.description}}</span>
                <div class="see-all-description sm:block lg:hidden cursor-pointer font-semibold" v-if="isCloseDescription" v-on:click="toggleDescription()">Leggi di più <span class="font-extrabold "><img src="/img/arrow-down.png"></span></div>
                <div class="see-all-description sm:block lg:hidden cursor-pointer font-semibold" v-if="!isCloseDescription" v-on:click="toggleDescription()">Leggi di meno <span class="font-extrabold "><img class="transform rotate-180" src="/img/arrow-down.png"></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import countriesJson from '~/assets/json/countries.json'
import Utils from "@/utils/utils";
export default {
  name: "countries",
  data() {
    return {
      view: {
        atTopOfPage: false
      },
      openTab: 0,
      isCloseDescription: true,
      tabCountriesOffset: null,
      countries: countriesJson
    }
  },
  beforeMount() {
    window.addEventListener('scroll', this.handleScroll);
  },
  mounted() {
  },
  methods: {
    toggleTabs: function(tabNumber, country){
      this.openTab = tabNumber;
      this.$store.dispatch('setCountry', country);
    },
    toggleDescription: function(){
      this.$data.isCloseDescription = !this.$data.isCloseDescription
    },
    handleScroll(){
      let offsetTabsCountries = this.$refs["tabs-countries"].getBoundingClientRect().top;
      Utils.log("offsetTabsCountries = ",offsetTabsCountries);

      // when the user scrolls, check the pageYOffset
      if(offsetTabsCountries === 0 || offsetTabsCountries < 0 ){
        // user is scrolled
        this.view.atTopOfPage = true
      }else{
          // user is at top of page
          this.view.atTopOfPage = false
      }
      Utils.log("this.view.atTopOfPage = ",this.view.atTopOfPage);
    }
  }
}
</script>

<style lang="scss" scoped>
.container-tabs-countries {
  position: sticky;
  top: 0;
  z-index: 55;
  background-color: white;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid rgba(229, 231, 235);
}
.fixed-container {
  position: fixed !important;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1160px !important;
  width: 100%;
  margin: 0 auto;
  top: 0;
  z-index: 55;
  background-color: white;
  height: 45px;
  border-bottom: 1px solid rgba(229, 231, 235);
  padding: 0 14px;
}
.standard {

}
li.active::after{
  content:'';
  display:block;
  width:auto;
  padding-top: 4px;
  border-bottom: 2px solid red;
}
.container-description {
  vertical-align: top;
  display: block;
  position: relative;
  .container-logo-country {
    width: 20%;
    vertical-align: top;
    display: inline-block;
    margin-right: 6px;
    .logo-country {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background-color: #b2dec7;
      img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-top: 4px;
      }
    }
    .see-all-travel-country {
      height: 20px;
      line-height: 30px;
      margin-top: 10px;
      color: #668a90;
      span {
        font-size: 10px;
      }
    }
  }
  .description-country {
    width: 75%;
    display: inline-block;
    .see-all-description {
      color: #668a90;
      span {
        display: inline-block;
        img {
          width: 14px;
          filter: invert(53%) sepia(7%) saturate(1431%) hue-rotate(141deg) brightness(96%) contrast(82%);
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .description-country span.close {
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 70px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1024px) {
  .container-logo-country {
    width: 22% !important;
  }
  .description-country {
    width: 72% !important;
    display: inline-block;
    height: 100% !important;
    min-height: 96px;
    overflow-y: auto !important;
    vertical-align: top;
  }
  .container-description::after{
    content:'';
    display:block;
    width:auto;
    padding-top: 40px;
    border-bottom: 2px solid rgba(209, 213, 219);
    opacity: 0.4;
  }
}
</style>
