<template>
  <div>
    <div class="container container-other-tours">
      <div class="container-tours-list flex flex-wrap flex-row mx-auto transition-all duration-500">
        <div class="container-tour flex mx-1.5 my-3 lg:my-8 lg:mx-6 cursor-pointer transition-all duration-500" v-for="(tour, index) in countrySelectedTours" :key="index" v-on:click="openTour(tour)">
          <div class="container-description inline-block">
            <div class="title font-semibold">{{tour.title}}</div>
            <div class="description">{{tour.numberOfDays}} giorni</div>
          </div>
        </div>
      </div>
      <div class="nodata text-lg" v-if="countrySelectedTours.length===0">
        Ops, per questa ricerca non ci sono viaggi
      </div>
    </div>
    <ModalTour :tour="tourOpened" ref="modalTour"></ModalTour>
  </div>
</template>

<script>
import Utils from "@/utils/utils";
import countriesJson from '~/assets/json/countries.json'
import _ from "lodash";
import context from "@/vue.config";
import ModalTour from "@/components/Modals/ModalTour";

export default {
  name: "OtherTravels",
  components: {ModalTour},
  data() {
    return {
      tours: null,
      countrySelectedTours: [],
      country: countriesJson[0],
      tourOpened: null
    }
  },
  created() {
    this.getTours();
  },
  watch: {
    '$store.state.country': function() {
      this.$data.country = this.$store.state.country;
      this.$data.countrySelectedTours = this.$data.tours[this.$data.country.name];
    },
    '$store.state.searchToursValue': function() {
      this.$parent.setLoaderSearchTours(true);
      this.searchTourByTerms(this.$store.state.searchToursValue);
    }
  },
  methods: {
    openTour(tour) {
      this.$data.tourOpened = tour;
      this.$refs.modalTour.openTour(true);
    },
    searchTourByTerms: _.debounce(function(value) {
      this.$data.countrySelectedTours = Utils.searchTourByTerms(this.$data.tours[this.$data.country.name], value);
      this.$parent.setLoaderSearchTours(false);
    }, context.DEBOUNCE_TIME_SEARCH),
    async getTours() {
      await this.$store.dispatch('getTours');
      Utils.log("tours = ", this.$data.tours);
      Utils.log("this.$store.state.tours = ", this.$store.state.tours);
      this.$data.tours = this.$store.state.tours;
      this.$data.countrySelectedTours = this.$data.tours["Europa"];
    }
  }
}
</script>

<style lang="scss" scoped>
.container-other-tours {
  margin-top: 30px;
}
.container-tours-list {
  .container-tour {
    flex: 0 0 44%;
    border: 1px solid #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    .container-description {
      width: 100%;
      .title {
        font-size: 13px;
      }
      .description {
        color: #668a90;
        font-size: 12px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container-tours-list {
    .container-tour {
      border: 0;
      border-radius: 0;
      flex: 0 0 20%;
      .container-description {
        width: 200px;
        .title {
          font-size: 16px;
        }
        .description {
          color: #668a90;
          font-size: 14px;
        }
      }
    }
  }
}
</style>
