<template>
<div class="relative block w-full container-travel-list pdd-container">
  <Countries></Countries>
  <TrendingTours ref="trendingTours"></TrendingTours>
  <TravelSearch ref="travelSearch"></TravelSearch>
  <OtherTravels></OtherTravels>
</div>
</template>

<script>
import Countries from "~/components/TravelList/countries";
import TrendingTours from "@/components/TravelList/TrendingTours";
import OtherTravels from "@/components/TravelList/OtherTravels";
import TravelSearch from "@/components/TravelList/TravelSearch";
export default {
  name: "TravelList",
  components: {TrendingTours, Countries, OtherTravels, TravelSearch  },
  methods: {
    setLoaderSearchTours(value) {
      this.$refs.travelSearch.loading = value;
    }
  }
}
</script>

<style scoped>

</style>
