<template>
<div class="container-travel-search block z-0">
  <div class="container-input relative">
    <div class=" absolute z-10 mx-3 top-1/2 min-w-20px max-w-20px flex items-center"><div class="iconfull opacity-60 icon-search"></div></div>
    <input type="text"
           v-model="searchToursValue"
           class="search-tour-input relative mt-4 border-gray-300 placeholder-gray-400 rounded-md w-full z-0"
           v-on:keyup="setSearchToursValue()"
           :placeholder="placeholder"
    >
    <div class="icon-container" :class="{'hidden': !loading}">
      <i class="loader"></i>
    </div>
  </div>
</div>
</template>

<script>
import countriesJson from "assets/json/countries.json";
import Utils from "@/utils/utils";

export default {
  name: "TravelSearch",
  data() {
    return {
      tours: null,
      searchToursValue: null,
      placeholder: "Cerca viaggi in Europa",
      loading: false
    }
  },
  created() {

  },
  watch: {
    '$store.state.country': function() {
      this.$data.placeholder = "Cerca viaggi in "+this.$store.state.country.name;
    }
  },
  methods: {
    setSearchToursValue() {
      this.$store.dispatch('setSearchToursValue', this.$data.searchToursValue);
    }
  }
}
</script>

<style lang="scss" scoped>
.container-input {
  color: #828282;
  .search-tour-input {
    color: black;
    padding-left: 44px;
    &::placeholder {
      color: #828282;
    }
  }
}

.icon-container {
  position: absolute;
  right: 10px;
  top: calc(49% - 0px);
  &.hidden {
    display: none;
  }
}
.loader {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  animation: around 5.4s infinite;
}

@keyframes around {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.loader::after, .loader::before {
  content: "";
  background: white;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #F64758 #F64758 transparent transparent;
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  animation: around 0.7s ease-in-out infinite;
}

.loader::after {
  animation: around 0.7s ease-in-out 0.1s infinite;
  background: transparent;
}
</style>
