<template>
  <div>
    <div class="container container-trending-tours">
      <div class="container-title block w-full mb-3">
        <div class="mobile lg:hidden font-semibold text-lg">Trending tours in {{country.name}}</div>
        <div class="mobile hidden lg:block font-semibold text-lg">Trending trips</div>
      </div>
      <div class="container-tours-list flex flex-wrap flex-row transition-all duration-500">
        <div class="container-tour flex mx-1 my-3 lg:my-8 cursor-pointer transition-all duration-500" v-for="(tour, index) in trendingTours" :key="index" v-on:click="openTour(tour)">
          <div class="container-image inline-block">
            <div class="image">
              <picture>
                <source media="(max-width:1023px)" :srcset="tour.thumbnailImage.mobile.thumbnailUrl">
                <source media="(min-width:1024px)" :srcset="tour.thumbnailImage.desktop.thumbnailUrl">
                <img v-if="tour.thumbnailImage.desktop.thumbnailUrl" :src="tour.thumbnailImage.desktop.thumbnailUrl">
                <img v-if="!tour.thumbnailImage.desktop.thumbnailUrl" src="/img/noimg.jpeg">
              </picture>
            </div>
          </div>
          <div class="container-description inline-block">
            <div class="title font-semibold">{{tour.title}}</div>
            <div class="description">{{tour.numberOfDays}} giorni</div>
          </div>
        </div>
      </div>
      <div class="nodata text-lg" v-if="trendingTours.length===0">
        Ops, per questa ricerca non ci sono viaggi
      </div>
    </div>
    <ModalTour :tour="tourOpened" ref="modalTour"></ModalTour>
  </div>
</template>

<script>
import Utils from "@/utils/utils";
import countriesJson from '~/assets/json/countries.json'
import _ from "lodash";
import context from "@/vue.config";
import ModalTour from "@/components/Modals/ModalTour";

export default {
  name: "TrendingTours",
  components: {ModalTour},
  data() {
    return {
      tours: null,
      trendingTours: [],
      country: countriesJson[0],
      tourOpened: null
    }
  },
  created() {
    this.getTours();
  },
  watch: {
    '$store.state.country': function() {
      this.$data.country = this.$store.state.country;
      this.$data.trendingTours = Utils.filterTrendTour(this.$data.tours[this.$data.country.name]);
    },
    '$store.state.searchToursValue': function() {
      this.$parent.setLoaderSearchTours(true);
      this.searchTourByTerms(this.$store.state.searchToursValue);
    }
  },
  methods: {
    openTour(tour) {
      this.$data.tourOpened = tour;
      this.$refs.modalTour.openTour(true);
    },
    searchTourByTerms: _.debounce(function(value) {
      this.$data.trendingTours = Utils.searchTourByTerms(this.$data.tours[this.$data.country.name], value, "trending-tours");
      this.$parent.setLoaderSearchTours(false);
    }, context.DEBOUNCE_TIME_SEARCH),
    async getTours() {
      await this.$store.dispatch('getTours');
      Utils.log("tours = ", this.$data.tours);
      Utils.log("this.$store.state.tours = ", this.$store.state.tours);
      this.$data.tours = this.$store.state.tours;
      this.$data.trendingTours = Utils.filterTrendTour(this.$data.tours["Europa"]);
    }
  }
}
</script>

<style lang="scss" scoped>
.container-tours-list {
  .container-tour {
    .container-image {
      width: 60px;
      height: 60px;
      margin-right: 5px;
      .image {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden;
          border-radius: 10%;
        }
      }
    }
    .container-description {
      width: 100px;
      .title {
        font-size: 13px;
      }
      .description {
        color: #668a90;
        font-size: 12px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container-trending-tours::after{
    content:'';
    display:block;
    width:auto;
    padding-top: 40px;
    border-bottom: 2px solid rgba(209, 213, 219);
    opacity: 0.4;
  }
  .container-tours-list {
    .container-tour {
      .container-image {
        width: 110px;
        height: 110px;
        margin-right: 15px;
      }
      .container-description {
        width: 150px;
        .title {
          font-size: 16px;
        }
        .description {
          color: #668a90;
          font-size: 14px;
        }
      }
    }
  }
}
</style>
