<template>
    <header class="font-body font-body header-transparent z-50"  >

      <div class="container container-principal px-d flex z-50 flex-row items-center container-max-desktop mx-auto justify-between">

        <div class="container-sx flex items-center lg:pt-6 x:pt-6">
          <a class="logo sm:block lg:hidden xl:hidden z-50" href="/"><img src="~/assets/img/logo/logo-wr-white.svg" height="40px" width="40px"/></a>
          <a class="logo hidden lg:flex xl:flex z-50" href="/" >
            <img src="~/assets/img/logo/logo-white.svg" height="32" width="117"/>
          </a>
          <span class="min-bar-divider border-r border-gray-400 opacity-50"></span>
          <div class="container-open relative z-20 white-space-nowrap py-10px">
            <div class="flex items-center">
              <div class="iconfull icon-search"></div>
              <div class="text whitespace-nowrap sm:block lg:hidden xl:hidden">Cerca viaggi</div>
              <div class="text whitespace-nowrap hidden lg:flex xl:flex">Cerca su WeRoad</div>
            </div>
          </div>
        </div>

        <nav class="nav-menu flex z-50 items-center hidden lg:flex xl:flex lg:pt-6 x:pt-6">
          <ul class="main-menu-header flex items-center">
            <li class="relative">
              <div data-v-2e5161df="">
                <div class="hidden lg:block ">
                  <div class="menu-item menu-item-first-level cursor-pointer">
                    <div class="flex items-center ">
                      <div class="mr-5px">Viaggi</div>
                      <div class="iconfull icon-angle-down"></div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="relative">
              <div data-v-2e5161df="">
                <div class="hidden lg:block ">
                  <div class="menu-item menu-item-first-level cursor-pointer">
                    <div class="flex items-center ">
                      <div class="mr-5px">Come funziona</div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="relative">
              <div data-v-2e5161df="">
                <div class="hidden lg:block ">
                  <div class="menu-item menu-item-first-level cursor-pointer">
                    <div class="flex items-center ">
                      <div class="mr-5px">Fasce d'età</div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="relative">
              <div data-v-2e5161df="">
                <div class="hidden lg:block ">
                  <div class="menu-item menu-item-first-level cursor-pointer">
                    <div class="flex items-center ">
                      <div class="mr-5px">Offerte</div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="relative primary">
              <div class="relative with-drop-down">
                <div class="relative">
         <span class="flex items-center">
           <span class="menu-item-icon lg:hidden" data-src="https://cdn.weroad.io/common/images/icons-menu/secondary-color/express.svg" lazy="loaded" style="background-image: url(&quot;https://cdn.weroad.io/common/images/icons-menu/secondary-color/express.svg&quot;);"></span>
           <span class="text flex-grow">Turni confermati</span>
         </span>
                  <div class="open-item-menu block lg:hidden absolute w-100 h-100 top-0px left-0px z-20"></div>
                </div>
              </div>
            </li>
            <li class="relative">
              <div data-v-2e5161df="">
                <div class="hidden lg:block ">
                  <div class="menu-item menu-item-first-level cursor-pointer">
                    <div class="flex items-center ">
                      <div class="mr-5px">FAQ</div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="area-user">
            <div class="hidden lg:block">
              <div class="area-avatar flex items-center">
                <div class="avatar">
                  <div class="iconfull icon-profile"></div>
                </div>
                <div class="hidden lg:flex flex-col justify-center">
                  <div class="iconfull icon-angle-down"></div>
                </div>
                <div class="block lg:hidden ml-20px flex-grow">
                  <div class="flex-grow flex flex-col justify-between">
                    <!---->
                    <div class="flex flex-grow justify-between w-100">
                      <a rel="noopener" href="https://bookings.weroad.it/my-weroad/profile" target="_blank" class="mr-10 text-sm text-secondary"> Profilo </a>
                      <div class="text-sm hover:text-primary">Logout</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="lg:hidden hidden"></div>
            </div>
          </div>
        </nav>

        <div class="flex items-center justify-end lg:pt-6 x:pt-6 ml-5 lg:hidden xl:hidden">
          <div class="btn btn-parla-con-noi small whitespace-nowrap lg:mr-0px antialiased z-20">
          Parla con noi
          </div>
          <div class="button-menu-mobile lg:hidden">
            <span class="line-1"></span>
            <span class="line-2"></span>
          </div>
        </div>

      </div>

    </header>
</template>
<script>
import Utils from "@/utils/utils";

export default {
  name: "NavBar",
  data() {
    return {
      view: {
        atTopOfPage: true
      }
    }
  },
  // a beforeMount call to add a listener to the window
  beforeMount () {
    //window.addEventListener('scroll', this.handleScroll);
  },
  methods: {
    // the function to call when the user scrolls, added as a method
    handleScroll(){
      Utils.log(window.pageYOffset)
      // when the user scrolls, check the pageYOffset
      if(window.pageYOffset>40){
        // user is scrolled
        if(this.view.atTopOfPage) this.view.atTopOfPage = false
      }else{
        // user is at top of page
        if(!this.view.atTopOfPage) this.view.atTopOfPage = true
      }
    }
  }
};
</script>
<style lang="scss" scoped>
header {
  width: 100%;
  min-height: 32px;
  color: #fff;
  transition: transform .3s ease-in-out;
  .container-principal {
    padding: 14px;
  }
  &::before {
    transform: translateY(-100%);
    //background-color: #fff;
    padding-bottom: 0;
    padding-top: 14px;
    transition: transform .3s ease-in-out;
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }
  &.scrolled {
    transition: transform .3s ease-in-out;
    color: #4d4d4d;
    &::before {
      transform: translateY(0);
      background-color: #fff;
      padding-bottom: 0;
      padding-top: 0px;
      height: 60px;
      transition: transform .3s ease-in-out;
    }
    .container-principal {
      height: 60px;
      vertical-align: middle;
      width: 100%;
      padding-top: 0 !important;
      padding-bottom: 0;
      .container-sx,.nav-menu {
        padding-top: 0 !important;
      }
    }
  }
}
.min-bar-divider {
  height: 16px;
  margin: 0 10px;
}

.container-open {
  .text {
    margin-left: 8px;
    font-size: 16px;
  }
  .iconfull {
    font-size: 1em;
  }
}

.nav-menu {
  transition: opacity .4s ease-in,transform 0s .4s ease;
}

.btn-parla-con-noi {
  border: 1px solid #fff;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  margin-right: 10px;
}

.button-menu-mobile {
  width: 38px;
  height: 38px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: transparent;
  border: 0;
  transition: width .3s ease-in-out;
}

.button-menu-mobile span {
  background-color: #fff;
  color: #fff;
  display: block;
  height: 2px;
  width: 22px;
  position: absolute;
  border-radius: 2px;
  left: 0;
}
.button-menu-mobile span.line-1 {
  top: 50%;
  margin-top: -4px;
  margin-right: 10px;
  transition: margin-top .3s .3s,transform .3s 0s;
}
.button-menu-mobile span.line-2 {
  top: 50%;
  margin-top: 4px;
  margin-left: 10px;
  transition: margin-top .3s .3s,margin-left 0s .3s,transform .3s 0s;
}

@media screen and (min-width: 1024px) {

  .header {
    min-height: 60px;
  }

  .container-principal {
    padding: 30px 0;
  }

  .logo {
    width: 117px;
  }

  .min-bar-divider {
    margin: 0 15px;
  }

  .nav-menu {
    position: static;
    background-color: transparent;
    border: 0;
    opacity: 1;
    padding: 0;
    overflow: visible;
    transform: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 12px;
    height: auto;
    width: 100%;
    top: 55px;
    left: 0;
  }

  .area-user {
    padding: 4px 3px 4px 4px;
    border-radius: 999px;
    border: 1px solid #ddd;
    order: 2;
    position: relative;
    margin: 0 0 0 7px;
    cursor: pointer;
    opacity: 1;
    transform: translateY(0);
    box-shadow: none;
    width: 47px;
  }

  .avatar {
    min-width: 25px;
    max-width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
    transition: all .3s;
    .iconfull {
      font-size: 20px;
      color: #777;
    }
  }

  .main-menu-header {
    order: 1;
    height: 30PX;
    li {
      height: 100%;
      line-height: 30px;
      margin: 0 10px;
      &.primary {
        line-height: 1;
        display: flex;
        align-items: center;
        margin: 0 6px;
        border-radius: 5px;
        padding: 0.5em 0.7em;
        font-size: .8rem;
        font-weight: 600;
        background: #fff;
        border: 1px solid #ddd;
        transition: all .2s ease-in;
        border-color: rgba(255,71,88,var(--tw-border-opacity))!important;
        color: rgba(255,71,88,var(--tw-text-opacity))!important;
        --tw-border-opacity: 1!important;
        --tw-text-opacity: 1!important;
        padding-right: 7px;
      }
    }
  }

  .header .menu-item {
    padding: 0 10px;
    border-bottom: 0;
    height: 28px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
  }

}

</style>
