/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .hidden {
      display: none !important;
    }
    .pdd-container {
      padding: 14px;
    }
  }
}


.container {
  width: 100%;
  flex-grow: inherit;
  max-width: 100%;
}

.btn.white, .btn.white:hover {
  background-color: #fff;
  border-color: #fff;
  text-shadow: none!important;
  --tw-text-opacity: 1;
  color: rgba(102,138,144,var(--tw-text-opacity));
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  transition: box-shadow .3s;
}

.btn.small {
  padding: 0.5em 0.7em;
  font-size: .8rem;
}

min-w-20px {
  min-width: 20px;
}
.max-w-20px {
  max-width: 20px;
}
.max-w-50px {
  max-width: 50px;
}
.max-w-80px {
  max-width: 80px;
}
.max-w-100px {
  max-width: 100px;
}
.max-w-200px {
  max-width: 200px;
}
.max-w-300px {
  max-width: 300px;
}

.btn {
  padding: 0.9em 1em;
  text-align: center;
  display: inline-block;
  letter-spacing: .015em;
  cursor: pointer;
  border: 0;
  line-height: 1;
  position: relative;
  font-weight: 600;
  white-space: nowrap;
  outline: none;
  transition: all .2s ease-in;
  border-radius: 0.375rem;
  font-family: proxima-nova,sans-serif;
}

.btn, .btn:hover {
  text-decoration: none;
}

.btn.small {
  padding: 0.5em 0.7em;
  font-size: .8rem;
}

.mr-5px {
  margin-right: 5px;
}

.iconfull, .iconpadd {
  position: relative;
  display: inline-block;
  min-height: 1em;
  max-height: 1em;
  min-width: 1em;
  max-width: 1em;
  line-height: 1em;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .container-max-desktop {
    max-width: 1160px !important;
    margin: 0 auto;
  }
}

