<template>
  <main class="font-body relative antialiased">
    <div class="absolute top-0 w-full"><NavBar></NavBar></div>
    <nuxt />
  </main>
</template>
<script>
import NavBar from "../components/NavBar/nav-bar";
export default {
  components: { NavBar },
};
</script>
