<template>
  <div class="container block h-full">
    <div class="block container-cover-major w-full">
      <Cover></Cover>
    </div>
    <div class="block container w-full container-max-desktop">
      <TravelList></TravelList>
    </div>
  </div>
</template>

<script>
import TravelList from "~/components/TravelList/TravelList";
import Cover from "~/components/NavBar/cover";
export default {
  components: { TravelList, Cover  },
  data() {
    return {
    };
  },
  methods: {
  },
};
</script>
<style lang="scss" scoped>
.container-cover-major {
}
</style>
