<template>
  <div v-if="tour" class="container-principal fixed transform z-100 font-title text-white w-10/12 lg:w-4/12" v-bind:class="{'open': isTourOpen===true}">
    <div class="container-modal flex flex-col justify-center items-center ">
      <!-- Information Modal -->
      <div class="container-tour w-full rounded-lg shadow-lg bg-white my-3" :style="[tour.thumbnailImage.desktop.thumbnailUrl ? {backgroundImage: 'linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.40)),url('+tour.thumbnailImage.desktop.thumbnailUrl+')'} : {backgroundImage: 'linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.40)),url(https://strapi-imaginary.weroad.it/resource/coverMobile/10297/cover-decathlon-mobile.jpg)'}]">

        <div class="px-10 py-5 container-title text-4xl lg:text-5xl absolute top-10 drop-shadow max-w-md">
          {{tour.title}}
        </div>

        <div class="px-8 py-5 container-info absolute bottom-10 drop-shadow max-w-md">
          <div class="container-number-days text-md mb-2">
            <div class="logo-country"><nuxt-img :src="'/img/countries/'+tour.primaryDestination.primaryContinent.code+'.svg'" width="30" /></div>
            <div class="name">{{tour.primaryDestination.name}}</div>
          </div>
          <div class="container-number-days text-2xl lg:text-3xl">
            <div class="days">{{tour.numberOfDays}} giorni</div>
          </div>
          <div class="container-price text-lg">
            <div class="price">{{tour.price}}</div>
          </div>
        </div>

        <div class="mx-2 my-2 absolute bottom-5 right-1">
          <button v-on:click="goToTour()" class="btn small white text-mobile lg:text-desktop">E fatti 'sto viaggio</button>
        </div>

        <div class="mx-2 my-2 absolute top-3 right-1 container-close">
          <button v-on:click="openTour(false)" class="transition duration-150 text-2xl cursor-pointer drop-shadow mx-auto w-full font-body">X</button>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import countriesJson from "assets/json/countries.json";

export default {
  name: "ModalTour",
  props:["tour"],
  data() {
    return {
      isTourOpen: false
    }
  },
  methods: {
    openTour(flag) {
      this.$data.isTourOpen = flag;
    },
    goToTour() {
      this.$data.isTourOpen = false;
      let location = 'https://www.weroad.it/viaggi/'+this.tour.slug;
      window.open(
        location,
        '_blank' // <- This is what makes it open in a new window.
      );
    }
  }
}
</script>

<style lang="scss" scoped>

.text-mobile {
  font-size: 16px
}
.text-desktop {
  font-size: 22px!important;
}

.container-principal {
  --tw-translate-y: -50% !important;
  right: -100% !important;
  top: 50% !important;
  transition: 1.5s;
  &.open {
    right: 9% !important;
    --tw-translate-x: 9% !important;
    transition: 1.5s;
  }
}
.container-bg-opacity {
  height: 90vh;
}
.container-modal {
  border-radius: 20px;
  .container-tour {
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    min-height: 90vh;
  }
  .container-close {
    background-color: grey;
    opacity: 0.7;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    button { color: #fff; }
  }
}

.logo-country {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #b2dec7;
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 4px;
  }
}

@media screen and (min-width: 1024px) {
  .container-principal {
    --tw-translate-y: -50% !important;
    right: -100% !important;
    top: 50% !important;
    transition: all 1.5s;
    &.open {
      right: 1% !important;
      --tw-translate-x: 1% !important;
      transition: all 1.5s;
    }
  }
  .container-modal {
    .container-tour {
      min-height: 600px;
    }
  }
}
</style>
